{% extends 'base.html.twig' %}

{% block title %}FB{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('fb') }}

    <script type="text/javascript">
        {% if user is not null %}
        sessionStorage.setItem('userId', '{{ user.id }}');
        sessionStorage.setItem('userFirstName', '{{ user.firstName }}');
        sessionStorage.setItem('userLastName', '{{ user.lastName }}');
        {% else %}
        sessionStorage.setItem('userId', null);
        sessionStorage.setItem('userFirstName', null);
        sessionStorage.setItem('userLastName', null);
        {% endif %}
        {#sessionStorage.setItem('userToken', '{{ user.tokenData.token }}');#}
    </script>
{% endblock %}

{#
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('stylesheets') }}
{% endblock %}#}
